name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  deploy-pages:
    runs-on: ubuntu-slim
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deploy-pages.outputs.page_url }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Upload pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: .
      - name: Deploy pages
        uses: actions/deploy-pages@v4
        id: deploy-pages
